@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
    font-family: "Poppins", sans-serif;
   
} 

.formulario{
    
    border-radius: 30px;
    font-size: 24px;
    padding: 30px 100px !important;
    margin: 20px auto;
    width: 70% !important;
   
}

.alert{
    font-size: 15px;
    padding: 2px;
}

.titulo{
    font-size: 4rem;
    font-weight: 650;
    text-align: center;
}

input {
   border-color: #F06319 !important;
   height: 50px;
   border-radius: 15px !important;
   font-size: 1.3rem !important;
}

input[type="checkbox"]{
    border-radius: 5px !important;
}

.form-label{
    font-size: 1.5rem;
    font-weight: 450;
}

.link{
    font-size: 1.3rem;
    font-weight: 450;
    color: #555555;
}

#btn-inicio{
    background-color: #33658A;
    color:#ffffff;
    font-size: 24px;
    padding: 15px 30px;
}

#btn-inicio:hover{
    background-color: #50D0D3;
    color:#fff;
}

#btnregistrame{
    background-color: #33658A;
    color:#ffffff;
    font-size: 24px;
    padding: 15px 30px;
}

#btnregistrame:hover{
    background-color: #50D0D3;
    color:#fff;
}

#emailHelp{
    font-size: 1rem;
    color: #99A2A5;
}

#link-terminos{
    background-color: white; color: rgb(82, 82, 82); border: none; text-decoration: underline; font-size: 1.5rem;
}




@media screen and (min-width:220px) and (max-width:767px){

    .titulo{
        font-size: 30px;
    }
    .formulario{
        font-size: 15px;
        margin: 20px 10px;
        padding: 0px !important;
    }
    #btnregistrame{
        font-size: 15px;
        padding: 10px 20px;
    }

    .form-label{
        font-size: 20px;
    }

    input{
        height: 40px;
        font-size: 15px !important;
    }

    input[type="radio"], input[type="checkbox"]{
        height: 20px;
        width: 20px;
    }

    .icono{
        width: 60px;
    }
    #link-terminos{
        font-size: 20px;
    }
    
  }
  
  /*Navbar para tablet*/
  @media screen and (min-width:768px) and (max-width:992px){

    .titulo{
        font-size: 30px;
    }
    .formulario{
        font-size: 20px;
        margin: 20px 10px;
        padding: 0px !important;
    }
    #btnregistrame{
        font-size: 15px;
        padding: 10px 20px;
    }

    .form-label{
        font-size: 20px;
    }

    input{
        height: 40px;
        font-size: 35px !important;
    }

    input[type="radio"], input[type="checkbox"]{
        height: 20px;
        width: 20px;
    }

    .icono{
        width: 60px;
    }
    #link-terminos{
        font-size: 20px;
    }
  }
  
  
  /*Navbar para escritorio*/
  @media screen and (min-width:1440px){
    .formulario{
        font-size: 30px;
    }
    #btnregistrame{
        font-size: 25px;
        padding: 15px 30px;
    }
  }